<div class="row">
  <div class="col-md-4 p-4" *ngFor="let guide of guides">
    <div class="card card-guide" (click)="selectedCard(guide._id)">
      <div class="card-header">
        <h3>Título</h3>
        {{guide.title}}
      </div>
      <img [src]="'http://localhost:4000/' + guide.imagePath" class="img-card-top w-100">
      <div class="card-body">
        <h3>Descripción</h3>
        {{guide.description}}
        <h3>Matéria</h3>
        {{guide.subject}}
        <h3>Número de Guía</h3>
        {{guide.numberLab}}
        <h3>Semestre</h3>
        {{guide.semester}}
        <h3>Docente</h3>
        {{guide.docent}}
      </div>
    </div>
  </div>
</div>